* {
    font-family: 'Righteous', cursive;
}

html, body{
    width: 100%;
    height: 95%;
    background-color: #FEC7D7
}

p {
    margin: 0 0 0 0;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* game area */
.game-area {
    height: 90%;
    width: 70%;
    flex: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 15% 0 15%;
}

[class*="cardrow--"] {
    margin: 0;
    height: 20%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

[class*="card-area"] {
    height: 80%;
    width: 9%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D4E7;
}

[class*="card--"] {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* context area */
.context-area {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

[class*="player--"] {
}

.player-name {
}

.player-score {
}

/* setting area */
.setting-modal {
    visibility: display;
    opacity : 1;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting-area-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.setting-area {
    border-radius: 10px;
    padding: 1%;
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #e2ffff;
}

.card-img-setting-area {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input-area input {
    align-content: center;
}

.apply-button-area {
    align-self: end;
}

.apply-button {
    width: 100px;
    font-size: 1em;
    margin: 5px;
}

/* show big image area */
.show-big-image-area {
    visibility: hidden;
    opacity : 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-big-image-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.show-big-image-wrapper {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-big-image {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}


/* モーダル表示用クラス */
.is-show {
    visibility: visible;
    opacity : 1;
}

.is-hidden {
    visibility: hidden;
    opacity : 0;
}